Package: com.zanehelton.hotasballs
Name: HotAsBalls
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: When the temperature is over a temperature specified in Settings, the numerical temperature will be replaced by a pair of sweaty balls.
Maintainer: Zane Helton
Author: Zane Helton
Section: Tweaks
Version: 1.0.0-1+debug
Installed-Size: 292
